.device-node {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding: 0px 15px 0px 15px;
}

.device-node.not-selected {
  border: 1px solid white;
  

}

.device-node.selected.success {
  border: 1px solid green;
}
.device-node.selected.failure {
  border: 1px solid red;
}

.device-node.hovered{
    background-color: rgb(255 255 255 / 5%);
}

.device-node h4 {
  margin: 0;
  text-align: left;
  align-self: flex-start;
  background: rgba(255, 0, 0, 0.2);
}

.port-handle.selected.success{
    border:  2.5px solid #008000;
}

.port-handle.selected.failure{
    border:  2.5px solid #FF0000;
}

.port-handle.hovered{
    box-shadow: 0 0 0 4px rgb(255 255 255 / 25%);
}


.port-row span {
    font-size: 10px;
}

.port-row {
  position: relative;
  width: 100%;
  min-height: 10px;
  display: flex;
  /* align-items: center; */

  padding: 0px 18px;
  box-sizing: border-box;
}

.port-row.output{
      justify-content: flex-end;
}

.delete-button {
    float: right;
    margin: 0px;
    scale: 80%;
} 

.top-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


